In [18]:
import pandas as pd
import geopandas as gpd
import folium
from geopandas import points_from_xy
from shapely.geometry import Point

In [14]:
mbta_lines = gpd.read_file("data/MBTA_data/MBTA Rapid Transit Lines/GISDATA_MBTA_ARCLine.shp")
mbta_lines.head()

,line,route,grade,geometry
0,ORANGE,Forest Hills to Oak Grove,1,"LINESTRING (-71.07723 42.39853, -71.07723 42.3..."
1,ORANGE,Forest Hills to Oak Grove,4,"LINESTRING (-71.07724 42.39522, -71.07723 42.3..."
2,ORANGE,Forest Hills to Oak Grove,1,"LINESTRING (-71.06613 42.37155, -71.06663 42.3..."
3,GREEN,C - Cleveland Circle,2,"LINESTRING (-71.14929 42.33614, -71.14578 42.3..."
4,GREEN,D E,4,"LINESTRING (-71.0649 42.36579, -71.06541 42.36..."

In [15]:
mbta_stations = gpd.read_file("data/MBTA_data/MBTA Rapid Transit Labels/GISDATA_MBTA_NODEPoint.shp")
mbta_stations.head()

,station,line,terminus,route,geometry
0,Chiswick Road,GREEN,N,B - Boston College,POINT (-71.15095 42.34062)
1,Chestnut Hill Avenue,GREEN,N,B - Boston College,POINT (-71.15266 42.33858)
2,Reservoir,GREEN,N,D - Riverside,POINT (-71.14838 42.33514)
3,Cleveland Circle,GREEN,Y,C - Cleveland Circle,POINT (-71.14929 42.33614)
4,Englewood Avenue,GREEN,N,C - Cleveland Circle,POINT (-71.1455 42.33698)

In [16]:
dorms = gpd.read_file("data/NortheasternDorm_data/layers/POINT.shp")
dorms.head()

           Name Price                    geometry
0  Kennedy Hall  None  POINT (-71.09049 42.34288)
1    Smith Hall  None  POINT (-71.09059 42.34251)
2   Melvin Hall  None   POINT (-71.09117 42.3421)
3     Kerr Hall  None  POINT (-71.09125 42.34187)
4  Loftman Hall  None   POINT (-71.09097 42.3417)

In [18]:
for line_color in mbta_stations['line'].unique():
    print(line_color)
    display(mbta_stations[mbta_stations['line'] == line_color])

GREEN

,station,line,terminus,route,geometry
0,Chiswick Road,GREEN,N,B - Boston College,POINT (-71.15095 42.34062)
1,Chestnut Hill Avenue,GREEN,N,B - Boston College,POINT (-71.15266 42.33858)
2,Reservoir,GREEN,N,D - Riverside,POINT (-71.14838 42.33514)
3,Cleveland Circle,GREEN,Y,C - Cleveland Circle,POINT (-71.14929 42.33614)
4,Englewood Avenue,GREEN,N,C - Cleveland Circle,POINT (-71.1455 42.33698)
5,Sutherland Road,GREEN,N,B - Boston College,POINT (-71.14633 42.34156)
6,Boston College,GREEN,Y,B - Boston College,POINT (-71.16702 42.34016)
7,Chestnut Hill,GREEN,N,D - Riverside,POINT (-71.16461 42.32674)
8,South Street,GREEN,N,B - Boston College,POINT (-71.15726 42.33945)
36,Beaconsfield,GREEN,N,D - Riverside,POINT (-71.14026 42.33569)
37,Tappan Street,GREEN,N,C - Cleveland Circle,POINT (-71.13844 42.33852)
38,Dean Road,GREEN,N,C - Cleveland Circle,POINT (-71.14196 42.33771)
39,Washington Street,GREEN,N,B - Boston College,POINT (-71.14255 42.34412)
40,Allston Street,GREEN,N,B - Boston College,POINT (-71.13764 42.34858)
41,Warren Street,GREEN,N,B - Boston College,POINT (-71.14024 42.34862)
42,Griggs Street,GREEN,N,B - Boston College,POINT (-71.13436 42.34882)
43,Fairbanks Street,GREEN,N,C - Cleveland Circle,POINT (-71.1313 42.33964)
44,Washington Square,GREEN,N,C - Cleveland Circle,POINT (-71.13537 42.33933)
45,Brookline Hills,GREEN,N,D - Riverside,POINT (-71.12673 42.33129)
46,Summit Avenue,GREEN,N,C - Cleveland Circle,POINT (-71.12579 42.34103)
47,Brandon Hall,GREEN,N,C - Cleveland Circle,POINT (-71.12866 42.34005)
48,Harvard Avenue,GREEN,N,B - Boston College,POINT (-71.13101 42.35041)
49,Packards Corner,GREEN,N,B - Boston College,POINT (-71.12523 42.35179)
50,Babcock Street,GREEN,N,B - Boston College,POINT (-71.11992 42.35159)
51,Coolidge Corner,GREEN,N,C - Cleveland Circle,POINT (-71.1213 42.34215)
52,Brookline Village,GREEN,N,D - Riverside,POINT (-71.11683 42.33259)
53,Saint Paul Street,GREEN,N,C - Cleveland Circle,POINT (-71.11719 42.34321)
54,Amory Street,GREEN,N,B - Boston College,POINT (-71.11471 42.35097)
55,Kent Street,GREEN,N,C - Cleveland Circle,POINT (-71.11429 42.34401)
56,Hawes Street,GREEN,N,C - Cleveland Circle,POINT (-71.11117 42.34486)
57,Longwood,GREEN,N,D - Riverside,POINT (-71.10993 42.34167)
58,Boston University Central,GREEN,N,B - Boston College,POINT (-71.10704 42.35004)
59,Saint Marys Street,GREEN,N,C - Cleveland Circle,POINT (-71.10724 42.34599)
60,Mission Park,GREEN,N,E - Health Street,POINT (-71.10958 42.33318)
61,Heath Street,GREEN,Y,E - Health Street,POINT (-71.11028 42.32831)
62,Riverway,GREEN,N,E - Health Street,POINT (-71.11195 42.33198)
63,Back Of The Hill,GREEN,N,E - Health Street,POINT (-71.11107 42.32964)
64,Brigham Circle,GREEN,N,E - Health Street,POINT (-71.10372 42.33457)
65,Fenwood Road,GREEN,N,E - Health Street,POINT (-71.10565 42.33375)
66,Fenway,GREEN,N,D - Riverside,POINT (-71.1046 42.34516)
67,Boston University East,GREEN,N,B - Boston College,POINT (-71.10443 42.34972)
68,Blandford Street,GREEN,N,B - Boston College,POINT (-71.10006 42.3492)
69,Kenmore,GREEN,N,B C D,POINT (-71.09535 42.34881)
70,Museum Of Fine Arts,GREEN,N,E - Health Street,POINT (-71.09498 42.33793)
71,Longwood Medical Area,GREEN,N,E - Health Street,POINT (-71.09956 42.33614)
95,Boylston,GREEN,N,B C D E,POINT (-71.0646 42.35302)
97,Arlington,GREEN,N,B C D E,POINT (-71.07099 42.35177)
100,Prudential,GREEN,N,E - Health Street,POINT (-71.0812 42.34577)
101,Copley,GREEN,N,B C D E,POINT (-71.07798 42.34991)
114,Northeastern,GREEN,N,E - Health Street,POINT (-71.08965 42.34005)
117,Hynes Convention Center,GREEN,N,B C D,POINT (-71.08731 42.34798)
118,Symphony,GREEN,N,E - Health Street,POINT (-71.08494 42.34272)
120,East Somerville,GREEN,N,E - Medford/Tufts,POINT (-71.08654 42.37945)
124,Lechmere,GREEN,N,D E,POINT (-71.07651 42.37162)
127,Science Park/West End,GREEN,N,D E,POINT (-71.06774 42.36674)
131,Gilman Square,GREEN,N,E - Medford/Tufts,POINT (-71.09628 42.38775)
132,Union Square,GREEN,Y,D - Union Square,POINT (-71.09508 42.37746)
134,Magoun Square,GREEN,N,E - Medford/Tufts,POINT (-71.10644 42.39385)
135,Medford/Tufts,GREEN,Y,E - Medford/Tufts,POINT (-71.1177 42.40884)
136,Ball Square,GREEN,N,E - Medford/Tufts,POINT (-71.11065 42.39952)

BLUE

,station,line,terminus,route,geometry
9,Beachmont,BLUE,N,Bowdoin to Wonderland,POINT (-70.99253 42.39725)
10,Revere Beach,BLUE,N,Bowdoin to Wonderland,POINT (-70.9925 42.40784)
13,Maverick,BLUE,N,Bowdoin to Wonderland,POINT (-71.03958 42.36899)
15,Airport,BLUE,N,Bowdoin to Wonderland,POINT (-71.03022 42.37436)
17,Wood Island,BLUE,N,Bowdoin to Wonderland,POINT (-71.02291 42.37965)
24,Suffolk Downs,BLUE,N,Bowdoin to Wonderland,POINT (-70.99715 42.3905)
25,Orient Heights,BLUE,N,Bowdoin to Wonderland,POINT (-71.0048 42.38684)
75,Aquarium,BLUE,N,Bowdoin to Wonderland,POINT (-71.05194 42.35952)
129,Bowdoin,BLUE,Y,Bowdoin to Wonderland,POINT (-71.06184 42.36116)

SILVER

,station,line,terminus,route,geometry
11,Chelsea,SILVER,Y,SL3,POINT (-71.04039 42.3968)
12,Bellingham Square,SILVER,N,SL3,POINT (-71.03347 42.3954)
14,Airport,SILVER,N,SL3,POINT (-71.02981 42.37415)
16,Box District,SILVER,N,SL3,POINT (-71.02847 42.39412)
18,Eastern Avenue,SILVER,N,SL3,POINT (-71.02393 42.38846)
19,Airport Terminal E,SILVER,Y,SL1,POINT (-71.02103 42.36964)
20,Airport Terminal A,SILVER,N,SL1,POINT (-71.02115 42.36473)
21,Airport Terminal B1,SILVER,N,SL1,POINT (-71.01854 42.36134)
22,Airport Terminal B2,SILVER,N,SL1,POINT (-71.01837 42.36308)
23,Airport Terminal C,SILVER,N,SL1,POINT (-71.01783 42.36724)
26,23 Dry Dock Ave,SILVER,N,SL2,POINT (-71.0304 42.34469)
27,27 Dry Dock Ave,SILVER,N,SL2,POINT (-71.02806 42.34473)
28,Black Falcon Ave,SILVER,N,SL2,POINT (-71.02722 42.34417)
29,88 Black Falcon Ave,SILVER,N,SL2,POINT (-71.02633 42.34366)
30,Tide St,SILVER,N,SL2,POINT (-71.03205 42.34522)
31,Design Center,SILVER,Y,SL2,POINT (-71.03461 42.34458)
32,Harbor St,SILVER,N,SL2,POINT (-71.03498 42.34656)
33,Northern Ave,SILVER,N,SL2,POINT (-71.03635 42.3476)
34,World Trade Center,SILVER,N,SL1 SL2 SL3,POINT (-71.04263 42.34834)
35,Silver Line Way,SILVER,N,SL1 SL2 SL3,POINT (-71.03804 42.34697)
74,Courthouse,SILVER,N,SL1 SL2 SL3,POINT (-71.04689 42.35238)
76,Essex St @ Atlantic Ave,SILVER,N,SL4,POINT (-71.05613 42.3519)
78,South Station,SILVER,N,SL1 SL2 SL3,POINT (-71.05528 42.35262)
83,Temple Pl @ Washington St,SILVER,N,SL5,POINT (-71.06116 42.35481)
85,Chinatown Gate,SILVER,N,SL4,POINT (-71.0597 42.35037)
88,East Berkeley Street,SILVER,N,SL4 SL5,POINT (-71.0662 42.34377)
89,East Berkeley Street,SILVER,N,SL4 SL5,POINT (-71.06579 42.34413)
90,Herald Street,SILVER,N,SL4 SL5,POINT (-71.0649 42.34563)
91,Tuffs Medical Center,SILVER,N,SL4 SL5,POINT (-71.06381 42.34964)
92,Tuffs Medical Center,SILVER,N,SL4 SL5,POINT (-71.06369 42.34961)
94,Herald Street,SILVER,N,SL4 SL5,POINT (-71.06472 42.34641)
96,Tremont St @ Boylston Station,SILVER,N,SL5,POINT (-71.0642 42.35337)
98,Union Park Street,SILVER,N,SL4 SL5,POINT (-71.06922 42.34143)
102,Worcester Street,SILVER,N,SL4 SL5,POINT (-71.07588 42.33737)
103,Worcester Street,SILVER,N,SL4 SL5,POINT (-71.0754 42.33756)
104,Massachusetts Ave,SILVER,N,SL4 SL5,POINT (-71.0772 42.33625)
105,Massachusetts Ave,SILVER,N,SL4 SL5,POINT (-71.0773 42.33632)
106,Melnea Cass Blvd,SILVER,N,SL4 SL5,POINT (-71.0812 42.3327)
107,Melnea Cass Blvd,SILVER,N,SL4 SL5,POINT (-71.0808 42.33311)
108,Lenox St,SILVER,N,SL4 SL5,POINT (-71.07906 42.33493)
109,Lenox St,SILVER,N,SL4 SL5,POINT (-71.07854 42.33517)
110,West Newton Street,SILVER,N,SL4 SL5,POINT (-71.07376 42.33869)
111,West Newton Street,SILVER,N,SL4 SL5,POINT (-71.07388 42.33876)
112,Union Park Street,SILVER,N,SL4 SL5,POINT (-71.07137 42.34042)
115,Nubian,SILVER,Y,SL4 SL5,POINT (-71.08372 42.3297)

ORANGE

,station,line,terminus,route,geometry
72,Jackson Square,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.09993 42.32317)
73,Roxbury Crossing,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.09573 42.33121)
84,Chinatown,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.06258 42.35247)
93,Tufts Medical Center,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.06392 42.34984)
99,Back Bay,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.07511 42.34756)
113,Ruggles,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.08977 42.33645)
116,Massachusetts Ave,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.08376 42.34131)
121,Wellington,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.07712 42.40174)
122,Assembly,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.07713 42.39216)
123,Sullivan Square,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.07693 42.3843)
125,Community College,ORANGE,N,Forest Hills to Oak Grove,POINT (-71.07034 42.37391)

RED

,station,line,terminus,route,geometry
77,South Station,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.05517 42.35259)
86,Broadway,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.05717 42.34258)
87,Andrew,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.05698 42.33011)
119,Kendall/MIT,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.08619 42.36242)
126,Charles/MGH,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.07108 42.36117)
133,Central,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.10383 42.36544)
137,Porter,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.11911 42.38832)
138,Davis,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.12223 42.39675)
139,Harvard,RED,N,A - Ashmont B - Braintree C - Alewife,POINT (-71.11891 42.37403)
140,Alewife,RED,Y,A - Ashmont B - Braintree C - Alewife,POINT (-71.14208 42.39612)

BLUE/ORANGE

,station,line,terminus,route,geometry
79,State,BLUE/ORANGE,N,BLUE Bowdoin to Wonderland / ORANGE Forest Hil...,POINT (-71.05782 42.3588)

BLUE/GREEN

,station,line,terminus,route,geometry
80,Government Center,BLUE/GREEN,N,BLUE Bowdoin to Wonderland / GREEN B C D E,POINT (-71.05946 42.3593)

ORANGE/RED

,station,line,terminus,route,geometry
81,Downtown Crossing,ORANGE/RED,N,ORANGE Forest Hills to Oak Grove / RED A - Ash...,POINT (-71.06049 42.35545)

GREEN/RED

,station,line,terminus,route,geometry
82,Park Street,GREEN/RED,N,GREEN B C D E / RED A - Ashmont B - Braintree...,POINT (-71.06224 42.35631)

GREEN/ORANGE

,station,line,terminus,route,geometry
128,North Station,GREEN/ORANGE,N,GREEN D E / ORANGE Forest Hills to Oak Grove,POINT (-71.05998 42.36514)
130,Haymarket,GREEN/ORANGE,N,GREEN D E / ORANGE Forest Hills to Oak Grove,POINT (-71.05785 42.36247)

In [19]:
food_retail = gpd.read_file("data/Food_Data/food_retail.shp")
food_retail.head()

,coname,locnum,staddr,stcity,state,zip,year,source,latitude,longitude,store_type,naics_6,geometry
0,Lamberts Rainbow Fruit,479394,777 William T Morrissey Blvd,Dorchester,MA,2122,2021,Data Axle,42.295527,-71.048680,Fruit and Vegetable Markets,445230,POINT (-71.04868 42.29553)
1,Gaspar's Linguica Co Inc,925115,384 Faunce Corner Rd,North Dartmouth,MA,2747,2021,Data Axle,41.664947,-70.992194,"Meat Markets, Fish and Seafood Markets, and Al...",445210,POINT (-70.99219 41.66495)
2,Crescent Ridge,1466424,355 Bay Rd,Sharon,MA,2067,2021,Data Axle,42.127456,-71.151281,"Meat Markets, Fish and Seafood Markets, and Al...",445299,POINT (-71.15128 42.12746)
3,Henry's Fine Foods,1778869,588 Cabot St # 1,Beverly,MA,1915,2021,Data Axle,42.571595,-70.893783,Supermarket or Other Grocery,445110,POINT (-70.89378 42.5716)
4,Compare Supermarket,1793363,157 Hawthorne St,Chelsea,MA,2150,2021,Data Axle,42.396700,-71.033100,Supermarket or Other Grocery,445110,POINT (-71.0331 42.3967)

In [27]:
trader_joes = gpd.read_file("data/Food_Data/trader_joes.shp")
trader_joes.head()

,store_id,state_id,city_name,store_name,store_webs,street_add,postal_cod,country_id,telephone,lat,lng,geometry
0,3,CA,Palm Desert,Trader Joe's Palm Desert (3),https://locations.traderjoes.com/ca/palm-desert/3,44250 Town Center Way,92260,US,+1 760-340-2291,33.72728,-116.39776,POINT (-116.39776 33.72728)
1,4,CA,South Pasadena,Trader Joe's South Pasadena (Fair Oaks) (4),https://locations.traderjoes.com/ca/south-pasa...,1129 Fair Oaks Ave,91030,US,+1 323-784-1840,34.11287,-118.15110,POINT (-118.1511 34.11287)
2,5,CA,La Habra,Trader Joe's La Habra (5),https://locations.traderjoes.com/ca/la-habra/5,2101 W. Imperial Hwy,90631,US,+1 562-266-1428,33.91856,-117.96965,POINT (-117.96965 33.91856)
3,6,CA,Santa Monica,Trader Joe's Santa Monica (6),https://locations.traderjoes.com/ca/santa-moni...,3212 Pico Blvd,90405,US,+1 310-581-0253,34.02631,-118.45581,POINT (-118.45581 34.02631)
4,7,CA,Los Angeles,Trader Joe's West Los Angeles (7),https://locations.traderjoes.com/ca/los-angeles/7,10850 National Blvd,90064,US,+1 310-470-1917,34.03018,-118.42141,POINT (-118.42141 34.03018)